/**********
•⁠  ⁠MARK: Custom properties
**********/

html {
  color-scheme: light dark;
  --background-color: rgb(145, 200, 255);
  --text-color: rgb(11, 3, 49);
  --li-border-color: #5884eb;
  --text-shadow: rgb(255, 255, 255);

  --whitespace-s: 1rem;
  --whitespace-xs: calc(var(--whitespace-s) * 0.5);
  --whitespace-m: calc(var(--whitespace-s) * 2);
  --whitespace-l: calc(var(--whitespace-s) * 4);
  --whitespace-xl: calc(var(--whitespace-s) * 6);
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: rgb(11, 3, 49);
    --text-color: rgb(145, 200, 255);
    --li-border-color: rgb(182, 209, 234);
    --text-shadow: rgb(28, 58, 170);
  }
}
/**********
•⁠  ⁠MARK: Fonts
**********/

@font-face {
  font-family: "impacted";
  src: url(../type/IMPACTED.ttf);
  font-weight: 700;
  font-style: normal;
}
