/**********
•⁠  ⁠MARK: Body
**********/

body {
  font-family: monospace, tahoma, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: var(--whitespace-l);
}

h1 {
  font-family: "impacted", tahoma, sans-serif;
  font-size: 8em;
  color: var(--text-color);
  text-shadow: 0.04em 0.04em var(--text-shadow);
  margin: var(--whitespace-m);
  margin-bottom: 1em;
}

/* bron font:  https://www.dafont.com/impacted-hr.font?back=theme  */

h2 {
  font-family: monospace;
  font-size: 2em;
  color: var(--text-color);
  text-shadow: 0.03em 0.04em var(--text-shadow);
  margin: var(--whitespace-m);
}

/**********
•⁠  ⁠MARK: UL
**********/

ul {
  margin-bottom: 17em;
  padding: 0;
  list-style-type: "";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 3em;
}

a:hover {
  color: rgb(255, 242, 0);
}

a:focus {
  color: rgb(255, 242, 0);
  outline: 0.2em dashed rgb(255, 242, 0);
}

li {
  width: 8em;
  height: 8em;
  padding: 0;
  text-align: center;
  margin: var(--whitespace-xs);
  font-weight: bold;
}

li img {
  width: 8em;
  height: 8em;
  object-fit: cover;
  clip-path: circle(50%);
  border-radius: 50%;
  border: 0.2em solid var(--li-border-color);
}
/* - bron circle clippath:

https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/clip-path

- bron object fit: https://www.google.com/search?q=foto+niet+misvormen+code&oq=
foto+niet+misvormen+code+&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQIRigATIHCAIQIRigAd
IBCDYwMzhqMGo0qAIAsAIB&sourceid=chrome&source=chrome.ob&ie=UTF-8

Google gemini^ */

li a:hover img {
  border-color: rgb(255, 242, 0);
}

li:nth-of-type(1) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
  width: 9em;
  height: 9em;
}

li:nth-of-type(1) img {
  width: 9em;
  height: 9em;
}
/* ariana^ */

li:nth-of-type(2) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 5;
}
li:nth-of-type(2) img {
  width: 9em;
  height: 9em;
}
/* billie^ */

li:nth-of-type(3) {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row: 3;
}
li:nth-of-type(3) img {
  width: 11em;
  height: 11em;
}

/* harry^ */

li:nth-of-type(4) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 3;
}

li:nth-of-type(4) img {
  width: 8em;
  height: 8em;
}
/* bruno^ */

li:nth-of-type(5) {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row: 1;
}

li:nth-of-type(5) img {
  width: 7em;
  height: 7em;
}

/* gracie^ */

li:nth-of-type(6) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 5;
}

li:nth-of-type(6) img {
  width: 6em;
  height: 6em;
}
/* sabrina^ */

li:nth-of-type(7) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 1;
}

li:nth-of-type(7) img {
  width: 6em;
  height: 6em;
}
/* oliviaD^ */

li:nth-of-type(8) {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row: 5;
}
li:nth-of-type(8) img {
  width: 6em;
  height: 6em;
}
/* taylorS^ */

/**********
•⁠  ⁠MARK: P & Footer
**********/
p {
  margin: var(--whitespace-m);
}

footer {
  margin-top: 10em;
}

/* bron toevoegen en hier annoteren met commans sles */
