/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "impacted";
  src: url(../type/IMPACTED.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: monospace, tahoma, sans-serif;
  background-color: rgb(145, 200, 255);
  color: rgb(11, 3, 49);
  color-scheme: light dark;
  margin: 3em 6em;
}

h1 {
  font-family: "impacted", tahoma, sans-serif;
  font-size: 7em;
  color: rgb(11, 3, 49);
}
