html {
  color-scheme: light dark;
  --background-color: rgb(145, 200, 255);
  --text-color: rgb(11, 3, 49);
  --li-background-color: #5884eb;
  --text-shadow: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: rgb(11, 3, 49);
    --text-color: rgb(145, 200, 255);
    --li-background-color: #b6d1ea;
    --text-shadow: rgb(28, 58, 170);
  }
}

@font-face {
  font-family: "impacted";
  src: url(../type/IMPACTED.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: monospace, tahoma, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 3em;
}

h1 {
  font-family: "impacted", tahoma, sans-serif;
  font-size: 5em;
  color: var(--text-color);
  text-shadow: 0.04em 0.04em var(--text-shadow);
}

h2 {
  font-family: monospace;
  font-size: 2em;
  color: var(--text-color);
  text-shadow: 0.03em 0.04em var(--text-shadow);
  margin: 1em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: "";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr;
  gap: 3em;
}

a:hover {
  color: rgb(255, 242, 0);
}

a:focus {
  color: rgb(255, 242, 0);
  outline: 0.2em dashed rgb(255, 242, 0);
}

li {
  width: 6em;
  height: 6em;
  padding: 0;
  background: var(--li-background-color);
  clip-path: circle(50%);
  display: grid;
  place-items: center;
  text-align: center;
}

li:nth-of-type(1) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
}

li:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 2;
}

li:nth-of-type(3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
}

li:nth-of-type(4) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 4;
}

p {
  margin: 2em;
}

img {
  width: 7em;
  height: 7em;
  clip-path: circle(50%);
  margin: 2em;
}

/* bron toevoegen en hier annoteren met commans sles/ verander// */
