/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "impacted";
  src: url(../type/IMPACTED.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: monospace;
  background-color: rgb(90, 154, 218);
  color: CanvasText;
  color-scheme: light dark;
}

h1 {
  font-family: "impacted", tahoma, sans-serif;
  font-size: 6em;
  color: rgb(12, 43, 74);
}
